header{
   background-image: url('../assets/cityNightSkyline.jpeg');
   /* background-image: url(backgroundImage); */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15em;
    color: white;
    

}
